<!DOCTYPE html>
%html
  %head
    %title feel the heat
    %link(rel="stylesheet" href="/stylesheets/main.css")
  %body
    =content
    %script(src="/js/jquery-2.2.0.min.js")
    %script(type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=visualization")
    %script(src="/js/mapStyles.js")
    %script(src="/js/scripts.js")
